/* START Header banner */
.container-fluid .row {
    background-image: url("images/xv.png");
    background-position: center; 
    color: black;
    font-family: "Dancing Script", cursive;
    padding: 1%
}

.container-fluid #description {
    font-family: 'Montserrat', sans-serif;
}

/* Header Picture */
.avatar {
    height: 150px;
    border-radius: 50%;
}  
/* END Header banner */

/* General */
#navbar, #HeaderBanner, #AboutMe, #Projects, #OtherLinks, #ContactMe {
    font-family: 'Montserrat', sans-serif;
}

/* START Project Menu */
.button {
    height: 450px;
}

/* END Project Menu */

.container-fluid .row #SocialMedia {
    padding: 0%;
}



/* Animeate Project Menu Section */
/* .ProjectMenu {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.button {
    height: 100px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container:hover .buttons {
    opacity: 0.3;
}

.container:hover .ProjectMenu {
    opacity: 1;
} */


