/* START Header banner */
.container-fluid .row {
    background-image: url("images/xv.png");
    background-position: center; 
    color: black;
    font-family: "Dancing Script", cursive;
    padding: 1%
}

.avatar {
    height: 150px;
    border-radius: 50%;
}  

/* General */
#navbar, #headerBanner, #projects, #otherLinks, #contactMe, .container-fluid #description {
    font-family: 'Montserrat', sans-serif;
}

/* START Project Menu */
#Projects {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Animate Project Menu Section */
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.picture-container:hover img{
    opacity: 0.3;
}

.picture-container:hover .middle{
    opacity: 1;
}

.w-100 {
    border-radius: 30%;
    margin-bottom: 5%
}


/* START Contact Me */
#ContactMe .container {
    background-color: lightgrey;
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 5%
}

/* START Social Media */
.container-fluid .row #SocialMedia {
    padding: 0%;
}


